@import "/src/styles/variables.scss";

._ {
  position: relative;
  display: inline-block;
  user-select: none;
}
body .button {
  position: relative;
  z-index: 2;
  min-width: 253px;
  height: 36px;
  border-radius: 8px;
  background-color: var(--color-white);
  border: solid 1px #ececec;
  color: var(--color-midgray);
  font-size: 12px;
  line-height: 1;
  padding: 0 15px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > span {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon {
    margin-left: 5px;
    flex-shrink: 0;
    width: 6px;
    height: 4px;
  }
}
.drop {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-index-popup;
  min-width: 100%;
  background-color: var(--color-background);
  border: solid 1px #ececec;
  color: var(--color-midgray);
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity $timer-dropdown, visibility $timer-dropdown;
  .active & {
    opacity: 1;
    visibility: visible;
  }
}
.list {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 30px;
}
.option {
  font-size: 14px;
  height: 30px;
  padding: 0 12px;
  text-align: left;
  cursor: pointer;
  transition: background-color $timer-hover;
  background-color: var(--color-background);

  &.active {
    background-color: var(--color-background-02);
  }
  @media (hover: hover) {
    &:hover:not(.active) {
      background-color: var(--color-background-02);
    }
  }
}
