@import "/src/styles/variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  label {
    font-size: 12px;
    color: var(--color-midgray);
  }
  &.disabled {
    label {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.box {
  flex: 0 0 auto;
  position: relative;
  user-select: none;
  &:not(:last-child) {
    margin-right: 8px;
  }
  .checkbox & {
    width: 16px;
    height: 16px;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    .disabled & {
      cursor: default;
    }
  }
}

.customCheckbox {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border: solid 1px #c8c5cd;
  transition: background-color $timer-hover, border-color $timer-hover;
  .wrapper input:checked + & {
    .icon {
      opacity: 1;
      color: var(--color-midgray);
    }
    b {
      left: 17px;
      background-color: var(--color-white) !important;
    }
  }
  .disabled & {
    opacity: 0.5;
  }
  .wrapper.success:not(.disabled) & {
    border-color: var(--color-success);
  }
  .wrapper.error:not(.disabled) & {
    border-color: var(--color-attention);
  }
}
.customCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  .icon {
    opacity: 0;
    transition: opacity $timer-hover;
  }
}
