@import "/src/styles/variables.scss";

._ {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 114px) 372px;
  grid-gap: 20px;
  height: 100%;
}

.promo {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
}
.nextLesson {
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
}
body .homeworkBtn {
  grid-row: 1;
  border-radius: $border-radius-m;
  background-color: var(--color-accent-06);
}
body .reportskBtn {
  grid-row: 2;
  border-radius: $border-radius-m;
  background-color: var(--color-accent-07);
}
.balance {
  grid-row: 3;
  grid-column: 1 / span 2;
  min-height: 100%;
}
.closestLessons {
  grid-row: 3;
  grid-column: 3 / span 4;
  min-height: 100%;
}
