@import "/src/styles/variables.scss";

._ {
  --container-width: 1072px;
  --container-padding-left: 32px;
  --container-padding-right: 50px;
  --container-padding-top: 20px;
  --container-padding-bottom: 0px;

  position: relative;
  background-color: var(--color-background);
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content 1fr;
}
.header {
  grid-row: 1;
  grid-column: 2;
  position: sticky;
  top: 0;
  left: 0;
  z-index: $z-index-header;
  padding: 0 var(--container-padding-right) 0 var(--container-padding-left);
  height: 68px;
}
.sidebar {
  grid-row: 1 / span 2;
  grid-column: 1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;
  width: 236px + 50px;
  height: 100vh;
  max-height: 728px;
  padding-left: 50px;
}
.main {
  grid-row: 2;
  grid-column: 2;
  padding: var(--container-padding-top) var(--container-padding-right)
    var(--container-padding-bottom) var(--container-padding-left);
}
.content {
  position: relative;
  width: 100%;
}
