@import "/src/styles/variables.scss";

.wrapper {
  position: relative;
  border-radius: em(8);
  overflow: hidden;
  font-size: 16px;
  @media (max-width: ($media-mobile)) {
    font-size: 14px;
  }
}
body .input {
  padding-right: em(38);
}
.hideButton {
  position: absolute;
  top: 0;
  right: 0;
  width: em(38);
  height: 100%;
  font-size: inherit;
  display: flex;
  padding-left: em(8);
  align-items: center;
  background-color: transparent;
  color: var(--color-midgray);
  transition: color $timer-hover;
  .input:focus ~ & {
    color: var(--color-text);
  }
  &:disabled {
    color: var(--color-borders);
    cursor: default;
  }
  .icon {
    flex-shrink: 0;
    width: 70%;
    height: 70%;
    color: var(--color-lightgray);
    &.visible {
      color: var(--color-midgray);
    }
  }
}
