@import "/src/styles/variables.scss";

._ {
  display: block;
  position: relative;
  padding: 16px;
  min-height: 100px;
  border-radius: $border-radius-l;
  background-color: var(--color-accent-01);
}
.title {
  font-size: 20px;
  line-height: 0.9;
}
.icon {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  border-radius: $border-radius-ss;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 67%;
    height: 67%;
  }
}
