body {
  --color-white: #fff;
  --color-lightgray: #e9e9e9;
  --color-midgray: #79747f;

  --color-accent-01: #8d7fc7;
  --color-accent-02: #7362bc;
  --color-accent-03: #decfff;
  --color-accent-04: #fff1cb;
  --color-accent-05: #008aff;
  --color-accent-06: #d8ecff;
  --color-accent-07: #e8cbff;

  --color-background: #fdfdff;
  --color-background-02: #eeeeff;
  --color-background-03: #fbfbfc;

  --color-text: #323854;
  --color-text-light: #fff;

  --color-borders: #7362bc;

  --color-link: var(--color-accent-05);

  --color-focus: #8d7fc788;

  --color-attention: #e84849;
  --color-alert: #e12828;
  --color-success: #198754;
}
