@forward "mixins";
@forward "functions";
@forward "breakpoints";

// transitions
$timer-hover: 0.15s;
$timer-popup: 0.2s;
$timer-dropdown: $timer-popup;

// z-index layers
$z-index-popup: 100;
$z-index-header: 200;
$z-index-sidebar: 300;

// border radius
$border-radius-l: 30px;
$border-radius-m: 20px;
$border-radius-s: 15px;
$border-radius-ss: 12px;
