@import "/src/styles/variables.scss";

._ {
}
.header {
  display: flex;
  align-items: center;
}
.monthSelector {
}
.todayButton {
  margin-left: 20px;
  min-width: 85px;
}
.questionButton {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: var(--color-borders);
  svg {
    width: 100%;
    height: 100%;
  }
}
.board {
  margin-top: 13px;
}
