@import "/src/styles/variables.scss";

._ {
  margin-top: 4px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop {
}
.headerButton {
  margin-left: 15px;
  width: 100%;
  max-width: 344px;
}
.calendar {
  margin-top: 22px;
}
